{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="container col-md-5">
        <h3>Recent CAFC Patent Opinions</h3>
        <table class="table table-striped">
            <tr>
                <th>Case Name</th>
                <th>Date Created</th>
                <th>Page Count</th>
                <th>Download URL</th>
            </tr>
            {% for opinion in cafc_opinions %}

            <tr>
                <td>
                    <small><i>
                            {{ opinion['case_name'] }}
                        </i></small>
                </td>
                <td>{{ opinion['date_created'] }}</td>
                <td>{{ opinion['page_count']|int }}</td>
                <td>
                    <a class="btn btn btn-primary" href="{{ opinion['download_url'] }}" target="_blank">
                        Read
                    </a>
                </td>
            </tr>

            {% endfor %}
        </table>
    </div>
    <div class="container col-lg-5">
        <h3>Recent CAFC Hearings</h3>
        <table class="table table-striped">
            <tr>
                <th>Case Name</th>
                <th>Date Created</th>
                <th>Download URL</th>
            </tr>
            {% for hearing in cafc_hearings %}

            <tr>
                <td>{{ hearing['case_name'] }}</td>
                <td>{{ hearing['date_created'] }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ hearing['download_url'] }}" target="_blank">
                        Listen
                    </a>
                </td>
            </tr>

            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}